<h1 class="my-4 text-3xl font-bold text-center">Dados de transparência de Piraquara-PR</h1>

<div class="w-full max-w-xl mx-auto p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8">
    <div class="flex items-center justify-between mb-4">
        <h2 class="text-xl font-bold leading-none text-gray-900">Lista de Servidores e Salários</h2>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200">
            <% @servidores.each do |servidor| %>
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate">
                            <%= servidor.nome %>
                        </p>
                        <p class="text-sm text-gray-500 truncate">
                            Matricula: <%= servidor.matricula %>
                        </p>
                        <p class="text-sm text-gray-500 truncate">
                            Cargo: <%= servidor.cargo %>
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900">
                        <%= ActiveSupport::NumberHelper.number_to_currency( servidor.salario_liquido, locale: :'pt-BR') %>
                    </div>
                </div>
            </li>
            <% end %>
        </ul>
   </div>
</div>
